@tailwind base;
@tailwind components;
@tailwind utilities;


@-webkit-keyframes loop-scroll {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @-moz-keyframes loop-scroll {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
  }
  
  @keyframes loop-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  